[Unit]
Description=Minecraft
After=docker.service
Requires=docker.service

[Service]
EnvironmentFile=/etc/systemd/system/minecraft.service.d/image-tag.conf
ExecStart=/usr/bin/systemd-docker --logs=false run --rm -p 25565:25565 -p 25575:25575 -v server_data:/server -v /tmp:/tmp --name minecraft bckr/minecraft-forge:${IMAGE_TAG}
Restart=always
RestartSec=10s
Type=notify
NotifyAccess=all
TimeoutStartSec=120
TimeoutStopSec=15

[Install]
WantedBy=multi-user.target
